:root {
    --bg: #f6a4a6;
    --dark: #301a2d;
    --light: #f2e6ce;
    --accent: #ee3e23;
}

body {
    background-color: var(--bg);
    color: var(--dark);
}

h1 {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}
